body {
    color: #222;
    font: 12.5px/1.35 "lucida grande","lucida sans unicode",arial,sans-serif;
}
a>span:link,a>span:visited {color:#553f20;border-radius:10px;}
a>span:hover,a>span:active {background-color:#ff4e00;border-radius:10px;} 
.header{
	background: #0078d8;
	height:55px;
}
.container-fixed-width{
	margin:0 auto;
	background:red;
	width:95%;
}
.clearfix{
	zoom:1;
}
.navbar-fixed-top{
    top: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
}
.top-nav-link {
    float: right;
    /*margin-right: -35px;*/
}
.top-nav-link a {
	margin:7px 5px;
	background: -webkit-linear-gradient(top, #fa7d3c 0%,#f56010 100%);
    float: right;
    height: 40px;
    line-height:40px;
    width: 100px;
    color: #fff;
    border-radius:10px;
    
}
.top-nav-link span {
    display: block;
    font-size: 12px;
    text-align: center;
}
.top-nav-logo{
    margin-left:0px;
    width:120px;
    height:55px;
    background-color:#0078d8;
    display:inline-block;
    float:left;
}
.img-logo{
    margin-top:3px;
}
.top-nav-search{
    width:300px;
    height:55px;
    float:left;
    border-right:1px solid #1062F0;;
    margin-left: 30px;
}
.form-search{
    width:280px;
    height:32px;
    background-color: #e4eef9;
    margin-top: 11px;
    margin-left:5px;
    border-radius:5px;
}
.text{
    background: #e4eef9;
    padding: 3px 0px 3px 0px;
    margin: 2px 10px;
    width: 82%;
    border: 0 none;
    color: #7897c1;
    line-height: 20px;
    letter-spacing:0.5px;
}
.submit{
    background: transparent;
    border: 0 none;
    color: #7897c1;
    font-family:;
    line-height: 20px;
}
.top-nav-trial{
    width:300px;
    height:55px;
    float:left;
}

.free-trial{
    
    display:inline-block;
    border:1px solid red ;


}
.free-trial-icon{
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    line-height: 30px;
    text-align: center;
    height:30px;
}
.icon{
    background: transparent;
    border: 0 none;
    color: #7897c1;
    font-family: ;
}
.free-trial-label{
    margin-left: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    border: 0 none;
    color:#e4ecfb;
    letter-spacing: 1px;
}

.home{

}